{% extends 'Admin/header.html' %}

    {% block content %}
<main role="main" class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <h2 class="page-title">Product Offer</h2>
          <!-- .card -->
          <!-- .card -->
          <div class="card my-4">
            <div class="card-header">
              <strong>Product Offer</strong>
            </div>
            <div class="card-body">
              <form method="post" action="">
                {% csrf_token %}
                <div>
                  {% if pro_off %}                    
                  <section>
                    <div class="form-group">
                      <label for="userName">Name *</label>
                      <select name="name" class="form-control required">
                        <option value="">Select Product</option> 
                        {% for x in pro %}                   
                        <option {% if x.id == pro_off.product_id %} selected {% endif %} value="{{x.id}}">{{x.product_name}}</option> 
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                     
                        <label for="example-textarea">discount </label>
                        <input id="discount" name="discount" pattern="[0-8]{1}[0-9]{1}" value="{{pro_off.discount}}" type="text" class="form-control required">
                   
                       
                    </div>
                               
                    <input type="submit" class="btn mb-2 btn-info" value="Save">
                  
                    <input type="Reset" class="btn mb-2 btn-secondary">
                    <div class="help-text text-muted">(*) Mandatory</div>

                  </section>
                
                  {% endif %}
                </div>
              </form>
            </div> <!-- .card-body -->
          </div> <!-- .card -->
        </div> <!-- .col-12 -->
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
   
    
  </main>
  {% endblock content %}